<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary col-sm-2" ng-click="saveContactData()">Save</button>
    </div>
    <div class="col-lg-6">
        <table class="table table-responsive">
            <tbody>
            <tr>
                <td>Title</td>
                <td><input type="text" class="form-control" ng-model="contact.title"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" class="form-control" ng-model="contact.phone"></td>
            </tr>
            <tr>
                <td>Fax</td>
                <td><input type="text" class="form-control" ng-model="contact.fax"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" class="form-control" ng-model="contact.address"></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" class="form-control" ng-model="contact.city"></td>
            </tr>
            <tr>
                <td>State</td>
                <td><input type="text" class="form-control" ng-model="contact.state"></td>
            </tr>
            <tr>
                <td>Website</td>
                <td><input type="text" class="form-control" ng-model="contact.website"></td>
            </tr>
            <tr>
                <td>Director</td>
                <td><input type="text" class="form-control" ng-model="contact.director"></td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td><input type="email" class="form-control" ng-model="enterEmail">
                    <button class="btn btn-primary pull-right" ng-click="addEmail()">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <h5>Existing E-Mails</h5>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="email in contact.email">
                <button class="btn btn-primary" ng-click="deleteEmail(email)">
                    Delete
                </button>
                {{email}}
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <div id="googleMap" style="width:500px;height:410px;"></div>
    </div>
</div>