<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary  col-sm-2" ng-click="addFreeService()"><i class="fa fa-plus"></i> Add
    </button>
  </div>
  <div class="col-sm-7">
    <table class="table table-responsive">
      <thead>
      <th>Title</th>
      <th>Created</th>
      <th>Last modified</th>
      </thead>
      <tbody>
      <tr class="cursor" ng-repeat="freeService in freeServices" ng-click="selectFreeService(freeService)">
        <td>{{getServiceTitleByLang(freeService,defaultLang)}}</td>
        <td>{{freeService.created_at | date : dateFormat }}</td>
        <td>{{freeService.last_modified | date : dateFormat}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="editFreeService" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4 class="col-sm-6">Free Service</h4>

      <div class="col-sm-3 col-sm-offset-3 text-right select_join">
        <select ng-model="usedLang" ng-change="changeLang(usedLang)"
                ng-options="lang as lang for lang in languages">
        </select>
      </div>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="col-sm-12">
        <div class="col-sm-3">Title:</div>
        <input type="text" class="form-control col-sm-12 text-left" ng-model="editTitle.text"
               ng-change="editFreeServiceTitle(editTitle.text)">
        </input>
      </div>
      <div class=" col-sm-12 ">
        <div class="col-sm-3">Description:</div>
        <textarea class="form-control col-sm-12 text-left" rows="3" ng-model="editDesc.text"
                  ng-change="editFreeServiceDescription(editDesc.text)">
        </textarea>
      </div>
      <div class="col-sm-12 text-center " height="200px" width="128px">
        <div class="col-sm-12 text-center">Image:</div>
        <div flow-init class="col-sm-12 img_preview_container ">
          <div ng-show="!$flow.files.length">
            <img src="{{editFreeService.img}}"/>
          </div>
          <div ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]"/>
          </div>
          <div>
          <span class="btn btn-primary" ng-show="!$flow.files.length"
                flow-btn>Select image<input
              type="file"
              style="visibility: hidden; position: absolute;"></span>
          <span class="btn btn-primary ng-hide"
                ng-show="$flow.files.length"
                flow-btn>Update image<input type="file"
                                            style="visibility: hidden; position: absolute;"></span>
            <a class="btn btn-primary" ng-show="$flow.files.length"
               ng-click="$flow.cancel()">
              Delete
            </a>
          </div>
        </div>
        <div class="col-sm-12 ">
          <div class="col-sm-3">Created:</div>
          <p class="col-sm-9">{{editFreeService.created_at | date : dateFormat}}</p>
        </div>
        <div class="col-sm-12 ">
          <div class="col-sm-3">Modified:</div>
          <p class="col-sm-9">{{editFreeService.last_modified | date : dateFormat}}</p>
        </div>
        <div class="col-sm-12">
          <button ng-if="editFreeService._id" class="btn btn-primary col-sm-3 text-right"
                  ng-click="deleteFreeService()">Delete
          </button>
          <button class="btn btn-primary col-sm-3" ng-click="saveFreeService()">Save</button>
        </div>
      </div>
    </div>
  </div>