<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary  col-sm-2" ng-click="addFreeService()"><i class="fa fa-plus"></i> Add
    </button>
  </div>
  <div class="col-sm-7">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search free services" ng-model="searchWord">
        </div>
      </div>
    </form>
    <table class="table table-responsive">
      <thead>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'title'; sortReverse = !sortReverse">
          Title
          <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
          Created at
          <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'last_modified'; sortReverse = !sortReverse">
          Last modified
          <span ng-show="sortType == 'last_modified' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'last_modified' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      </thead>
      <tbody>
      <tr class="cursor" ng-repeat="freeService in freeServices | orderBy:sortType:sortReverse | filter:searchWord" ng-click="selectFreeService(freeService)">
        <td>{{getServiceTitleByLang(freeService,defaultLang)}}</td>
        <td>{{freeService.created_at | date : fullDateTime }}</td>
        <td>{{freeService.last_modified | date : fullDateTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="editFreeService" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4 class="col-sm-6">Free Service</h4>

      <div class="col-sm-3 col-sm-offset-3 text-right select_join">
        <select ng-model="usedLang" ng-change="changeLang(usedLang)"
                ng-options="lang as lang for lang in languages">
        </select>
      </div>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="col-sm-12">
        <div class="col-sm-3">Title:</div>
        <input type="text" class="form-control col-sm-12 text-left" ng-model="editTitle.text"
               ng-change="editFreeServiceTitle(editTitle.text)">
        </input>
      </div>
      <div class=" col-sm-12 ">
        <div class="col-sm-3">Description:</div>
        <textarea class="form-control col-sm-12 text-left" rows="3" ng-model="editDesc.text"
                  ng-change="editFreeServiceDescription(editDesc.text)">
        </textarea>
      </div>
      <div class="col-sm-12 text-center">
        <div class="col-sm-12 text-center">Image:</div>
        <div flow-init flow-files-submitted="" flow-name="obj.flow" class="col-sm-12 img_preview_container " height="250px">
          <div ng-show="!$flow.files.length">
            <img src="{{multimedia}}" alt="No image provided"/>
          </div>
          <div ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]"/>
          </div>
          <div>
          <span class="btn btn-primary" ng-show="!$flow.files.length"
                flow-btn>Select image<input
              type="file"
              style="visibility: hidden; position: absolute;"></span>
          <span class="btn btn-primary ng-hide"
                ng-show="$flow.files.length"
                flow-btn>Update image<input type="file"
                                            style="visibility: hidden; position: absolute;"></span>
            <a class="btn btn-primary" ng-show="$flow.files.length"
               ng-click="$flow.cancel()">
              Discard
            </a>
          </div>
        </div>
        <div class="col-sm-12 ">
          <div class="col-sm-3">Created:</div>
          <p class="col-sm-9">{{editFreeService.created_at | date : fullDateTime}}</p>
        </div>
        <div class="col-sm-12 ">
          <div class="col-sm-3">Modified:</div>
          <p class="col-sm-9">{{editFreeService.last_modified | date : fullDateTime}}</p>
        </div>
        <div class="col-sm-12">
          <button ng-if="editFreeService._id" class="btn btn-primary col-sm-3 text-right"
                  ng-click="deleteFreeService()">Delete
          </button>
          <button class="btn btn-primary col-sm-3" ng-click="saveFreeService()">Save</button>
        </div>
      </div>
    </div>
  </div>