<div class="row">
  <div class="col-sm-7">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="Search reservations" ng-model="searchWord">
        </div>
      </div>
    </form>
    <table class="table table-responsive">
      <thead>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'user.email'; sortReverse = !sortReverse">
          E-Mail
          <span ng-show="sortType == 'user.email' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'user.email' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'room.type'; sortReverse = !sortReverse">
          Room
          <span ng-show="sortType == 'room.type' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'room.type' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'start_date'; sortReverse = !sortReverse">
          End
          <span ng-show="sortType == 'start_date' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'start_date' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'end_date'; sortReverse = !sortReverse">
          End
          <span ng-show="sortType == 'end_date' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'end_date' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'status'; sortReverse = !sortReverse">
          Status
          <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
          Created at
          <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      </thead>
      <tbody>
      <tr class="cursor" ng-repeat="reservation in reservations | orderBy:sortType:sortReverse | filter:searchWord" ng-click="selectReservation(reservation)">
        <td>{{reservation.user.email}}</td>
        <td>{{reservation.room.type}}</td>
        <td>{{reservation.start_date | date : dateFormat}}</td>
        <td>{{reservation.end_date | date : dateFormat}}</td>
        <td>{{reservation.status}}</td>
        <td>{{reservation.created_at | date : dateFormat}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="selectedReservation" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4>Reservation</h4>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="edit-body-row">
        <p class="col-sm-4">First name:</p>
        <p class="col-sm-8">{{selectedReservation.user.firstName}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">Last name:</p>
        <p class="col-sm-8">{{selectedReservation.user.lastName}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">E-Mail:</p>
        <p class="col-sm-8">{{selectedReservation.user.email}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">Room type:</p>
        <p class="col-sm-8">{{selectedReservation.room.type}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">Start date:</p>
        <p class="col-sm-8">{{selectedReservation.start_date | date : dateFormat}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">End date:</p>
        <p class="col-sm-8">{{selectedReservation.end_date | date : dateFormat}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">Created at:</p>
        <p class="col-sm-8">{{selectedReservation.created_at | date : dateFormat}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">Transaction:</p>
        <p class="col-sm-8">{{selectedReservation.transaction.id}}</p>
      </div>
      <div class="edit-body-row">
        <p class="col-sm-4">Status:</p>
        <p class="col-sm-8">{{selectedReservation.status}}</p>
      </div>
      <div class="edit-body-row">
        <button ng-if="selectedReservation.status == 'approved' || selectedReservation.status == 'waiting' "class="btn btn-primary col-sm-3 text-right" ng-click="archiveReservation()">Archive</button>
        <button ng-if="selectedReservation.status == 'waiting'" class="btn btn-primary col-sm-3" ng-click="approveReservation()">Approve</button>
        <button ng-if="selectedReservation.status == 'waiting'" class="btn btn-primary col-sm-3" ng-click="rejectReservation()">Reject</button>
      </div>
    </div>
  </div>
</div>