<div class="row">
    <div class="col-sm-7">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search reservations" ng-model="searchWord">
                </div>
            </div>
        </form>
        <table class="table table-responsive">
            <thead>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'order.email'; sortReverse = !sortReverse">
                    E-Mail
                    <span ng-show="sortType == 'order.email' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'order.email' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'room.title'; sortReverse = !sortReverse">
                    Room
                    <span ng-show="sortType == 'room.title' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'room.title' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'termin.from'; sortReverse = !sortReverse">
                    From
                    <span ng-show="sortType == 'termin.from' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'termin.from' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'termin.to'; sortReverse = !sortReverse">
                    To
                    <span ng-show="sortType == 'termin.to' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'termin.to' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
                    Created at
                    <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            </thead>
            <tbody>
            <tr class="cursor"
                ng-repeat="reservation in reservations | orderBy:sortType:sortReverse | filter:searchWord"
                ng-click="selectReservation(reservation)">
                <td>{{reservation.order.email}}</td>
                <td>{{reservation.room.type[defaultLang]}}</td>
                <td>{{reservation.termin.from | date : fullDate}}</td>
                <td>{{reservation.termin.to | date : fullDate}}</td>
                <td>{{reservation.status}}</td>
                <td>{{reservation.updated_on | date : fullDateTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="selectedReservation" class="col-sm-5">
        <div class="col-sm-12 edit-header">
            <h4>Reservation</h4>
        </div>
        <div class="col-sm-12 edit-body">
            <div class="col-sm-12">
                <p class="col-sm-4">First name:</p>

                <p class="col-sm-8">{{selectedReservation.order.name}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Last name:</p>

                <p class="col-sm-8">{{selectedReservation.order.lastname}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">E-Mail:</p>

                <p class="col-sm-8">{{selectedReservation.order.email}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Room type:</p>

                <p class="col-sm-8">{{selectedReservation.room.type[defaultLang]}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Start date:</p>

                <p class="col-sm-8">{{selectedReservation.termin.from| date : fullDate}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">End date:</p>

                <p class="col-sm-8">{{selectedReservation.termin.to | date : fullDate}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Created at:</p>

                <p class="col-sm-8">{{selectedReservation.created_at | date : fullDateTime}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Transaction ID:</p>

                <p class="col-sm-8">{{selectedReservation.notification.tranid}}</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Price:</p>

                <p class="col-sm-8">{{selectedReservation.amount}} RSD</p>
            </div>
            <div class="col-sm-12">
                <p class="col-sm-4">Status:</p>

                <p class="col-sm-8">{{selectedReservation.status}}</p>
            </div>
            <div class="col-sm-12" ng-class="{'red-font' : selectedReservation.termin.remained == 0}">
                <p class="col-sm-4">Available rooms:</p>

                <p class="col-sm-8">{{selectedReservation.termin.remained}}</p>
            </div>
            <div ng-if="selectedReservation.status == 'CAPTURED'" class="col-sm-12">
                <p class="col-sm-4">Room number:</p>

                <div class="col-sm-8">
                    <input type="text" class="form-control col-sm-12 text-left"
                           ng-model="selectedReservation.roomNumber">
                    </input>
                </div>
            </div>
            <div class="col-sm-12">
                <!--<button ng-if="selectedReservation.status == 'CAPTURED' || selectedReservation.status == 'VOIDED' "-->
                <!--class="btn btn-primary col-sm-3 text-right" ng-click="archiveReservation()">Archive-->
                <!--</button>-->
                <button ng-if="selectedReservation.status == 'APPROVED' && (selectedReservation.termin.remained > 0)"
                        class="btn btn-primary col-sm-3"
                        ng-click="approveReservation()">Approve
                </button>
                <button ng-if="selectedReservation.status == 'APPROVED'" class="btn btn-primary col-sm-3"
                        ng-click="rejectReservation()">Reject
                </button>
                <button ng-if="selectedReservation.status == 'CAPTURED' && selectedReservation.roomNumber.length > 0" class="btn btn-primary col-sm-3"
                        ng-click="saveReservation()">Save
                </button>
            </div>
        </div>
    </div>
</div>