<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary  col-sm-2" ui-sref="editRoom()"><i class="fa fa-plus"></i> Add
    </button>
  </div>
  <div class="col-sm-7">
    <div class="col-sm-4" ng-repeat="room in rooms" ng-click="selectRoom(room)">
      <div class="box-wrapper text-center cursor">
        <div class="img-container">
          <img class="text-center " src="{{getImageUrl(room.image)}}" alt="No image provided" class=" img-thumbnail">
        </div>

        <p>{{getRoomTitleByLang(room)}}</p>

        <p>{{getRoomTypeByLang(room)}}</p>

      </div>
    </div>
  </div>
  <div ng-if="selectedRoom" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4>Room</h4>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Title:</p>

        <p class="col-sm-9">{{getRoomTitleByLang(selectedRoom)}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Type:</p>

        <p class="col-sm-9">{{getRoomTypeByLang(selectedRoom)}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Price:</p>

        <p class="col-sm-9"><strong>{{selectedRoom.price}} {{currency}}</strong> per night</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Created:</p>

        <p class="col-sm-9">{{selectedRoom.created_at | date : fullDateTime}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Modified:</p>

        <p class="col-sm-9">{{selectedRoom.last_modified | date : fullDateTime}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <button class="btn btn-primary col-sm-3 text-right" ng-click="deleteRoom()">Delete</button>
        <button class="btn btn-primary col-sm-3" ui-sref="editRoom({roomId : selectedRoom._id})">Update</button>
      </div>
    </div>
  </div>
</div>