<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary  col-sm-2" ui-sref="editRoom()"><i class="fa fa-plus"></i> Add
    </button>
  </div>
  <div class="col-sm-7">
    <div class="col-sm-4" ng-repeat="room in rooms" ng-click="selectRoom(room)">
      <div class="box-wrapper text-center cursor">
        <div class="img-container">
          <img class="text-center " src="{{getImageUrl(room.image)}}" alt="No image provided" class=" img-thumbnail">
        </div>

        <p>{{room.title[defaultLang]}}</p>

        <p>{{room.type[defaultLang]}}</p>

      </div>
    </div>
  </div>
  <script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="no()">&times;</button>
      <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              ng-click="yes()">Yes
      </button>
      <button type="button" class="btn btn-primary" ng-click="no()">No
      </button>
    </div>
  </script>
  <div ng-if="selectedRoom" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4>Room</h4>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Title:</p>

        <p class="col-sm-9">{{selectedRoom.title[defaultLang]}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Type:</p>

        <p class="col-sm-9">{{selectedRoom.type[defaultLang]}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Price:</p>

        <p class="col-sm-9"><strong>{{selectedRoom.price}} {{currency}}</strong> per night</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Created:</p>

        <p class="col-sm-9">{{selectedRoom.created_at | date : fullDateTime}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <p class="col-sm-3">Modified:</p>

        <p class="col-sm-9">{{selectedRoom.last_modified | date : fullDateTime}}</p>
      </div>
      <div class="edit-body-row col-sm-12">
        <button class="btn btn-primary col-sm-3 text-right" ng-click="deleteRoom()">Delete</button>
        <button class="btn btn-primary col-sm-3" ui-sref="editRoom({roomId : selectedRoom._id})">Update</button>
      </div>
    </div>
  </div>
</div>