<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary  col-sm-2" ng-click="addRoomService()"><i class="fa fa-plus"></i> {{ 'ADD' | translate}}
    </button>
  </div>
  <div class="col-sm-7">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="{{ 'SEARCH_ROOM_SERVICES' | translate}}" ng-model="searchWord">
        </div>
      </div>
    </form>
    <table class="table table-responsive">
      <thead>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'title'; sortReverse = !sortReverse">
          {{ 'TITLE' | translate}}
          <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
        <a class="cursor white-text" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
          {{ 'CREATED_AT' | translate}}
          <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </th>
      <th>
      </thead>
      <tbody>
      <tr class="cursor" ng-repeat="roomService in roomServices | orderBy:sortType:sortReverse | filter:searchWord" ng-click="selectRoomService(roomService)">
        <td>{{roomService.title[defaultLang]}}</td>
        <td>{{roomService.created_at | date : fullDateTime }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="no()">&times;</button>
      <h4 class="modal-title">{{ 'DELETE' | translate}}</h4>
    </div>
    <div class="modal-body">
      <p>{{ 'DELETE_QUESTION' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              ng-click="yes()">{{ 'YES' | translate}}
      </button>
      <button type="button" class="btn btn-primary" ng-click="no()">{{ 'NO' | translate}}
      </button>
    </div>
  </script>
  <div ng-if="editRoomService" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4 class="col-sm-6">{{ 'ROOM_SERVICE' | translate}}</h4>
      <div class="col-sm-3 col-sm-offset-3 text-right select_join">
        <select ng-model="titleLang" ng-change="changeTitleLang(titleLang)"
                ng-options="lang as lang for lang in languages">
        </select>
      </div>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="edit-body-row">
        <div class="col-sm-3">{{ 'TITLE' | translate}}:</div>
        <input type="text" class="form-control col-sm-12 text-left" ng-model="editRoomService.title[titleLang]">
        </input>
      </div>
      <div class="edit-body-row">
        <div class="col-sm-3">{{ 'CREATED_AT' | translate}}:</div>
        <p class="col-sm-9">{{editRoomService.created_at | date : fullDateTime}}</p>
      </div>
      <div class="edit-body-row">
        <button ng-if="editRoomService._id" class="btn btn-primary col-sm-3 text-right"
                ng-click="deleteRoomService()">{{ 'DELETE' | translate}}
        </button>
        <button class="btn btn-primary col-sm-3" ng-click="saveRoomService()">{{ 'SAVE' | translate}}</button>
      </div>
    </div>
  </div>
</div>