<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-primary col-sm-offset-1 col-sm-2" ng-click="addNetwork()"><i class="fa fa-plus"></i> Add
    </button>
    <div class="col-sm-5">
      <select class="form-control" ng-model="addNetworkName">
        <option ng-repeat="network in defaultNetworks" value="{{network}}">{{network}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-12"><h4>Added Networks:</h4>
  </div>
  <div class="col-sm-11" ng-repeat="social in socials">
    <div class="col-sm-2">
      <p><strong>{{social.name}}</strong></p>
    </div>
    <div class="col-sm-2">
      <label class="checkbox-inline"><input type="checkbox" value="" ng-model="social.active">Active</label>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-2">Link</div>
      <div class="col-sm-6"><input type="text" class="form-control" ng-model="social.link"
                                   placeholder="{{social.link}}">
      </div>
    </div>
    <hr class="blackhr"/>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary col-sm-offset-1 col-sm-2" ng-click="saveSocialData()">Save</button>
  </div>
</div>