<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary  col-sm-2" ng-click="addTimelineEvent()"><i class="fa fa-plus"></i> Add
    </button>
  </div>
  <div class="col-sm-7">
    <table class="table table-responsive">
      <thead>
        <th>Title</th>
        <th>Happened</th>
        <th>Created</th>
        <th>Last modified</th>
      </thead>
      <tbody>
      <tr class="cursor" ng-repeat="timelineEvent in timelineEvents" ng-click="selectEvent(timelineEvent)">
        <td>{{getTitleByLang(timelineEvent,defaultLang)}}</td>
        <td>{{timelineEvent.moment | date : dateFormat }}</td>
        <td>{{timelineEvent.created_at | date : dateFormat }}</td>
        <td>{{timelineEvent.last_modified | date : dateFormat}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="editTimelineEvent" class="col-sm-5">
    <div class="col-sm-12 edit-header">
      <h4 class="col-sm-6">Timeline event</h4>
      <div class="col-sm-3 col-sm-offset-3 text-right select_join">
        <select ng-model="usedLang" ng-change="changeLang(usedLang)"
                ng-options="lang as lang for lang in languages">
        </select>
      </div>
    </div>
    <div class="col-sm-12 edit-body">
      <div class="edit-body-row">
        <div class="col-sm-3">Title:</div>
        <input type="text" class="form-control col-sm-12 text-left" ng-model="editTitle.text" ng-change="editEventTitle(editTitle.text)">
        </input>
      </div>
      <div class="edit-body-row">
        <div class="col-sm-3">Description:</div>
        <textarea class="form-control col-sm-12 text-left" rows="3" ng-model="editDesc.text" ng-change="editDescription(editDesc.text)">
        </textarea>
      </div>
      <div class="edit-body-row">
        <div class="col-sm-3">Happened:</div>
        <div class="col-md-12">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="editTimelineEvent.moment" is-open="status.opened" show-weeks="false" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
      </div>
      <div class="col-sm-12 edit-body-row">
        <div class="col-sm-3">Created:</div>
        <p class="col-sm-9">{{editTimelineEvent.created_at | date : dateFormat}}</p>
      </div>
      <div class="col-sm-12 edit-body-row">
        <div class="col-sm-3">Modified:</div>
        <p class="col-sm-9">{{editTimelineEvent.last_modified | date : dateFormat}}</p>
      </div>
      <div class="edit-body-row">
        <button ng-if="editTimelineEvent._id" class="btn btn-primary col-sm-3 text-right" ng-click="deleteEvent()">Delete</button>
        <button class="btn btn-primary col-sm-3" ng-click="saveEvent()">Save</button>
      </div>
    </div>
  </div>
</div>