<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary  col-sm-2" ng-click="addTimelineEvent()"><i class="fa fa-plus"></i> Add
        </button>
    </div>
    <div class="col-sm-7">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search timeline events" ng-model="searchWord">
                </div>
            </div>
        </form>

        <table class="table table-responsive">
            <thead>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                    Title
                    <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'moment'; sortReverse = !sortReverse">
                    Happened
                    <span ng-show="sortType == 'moment' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'moment' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
                    Created
                    <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a class="cursor white-text" ng-click="sortType = 'last_modified'; sortReverse = !sortReverse">
                    Last modified
                    <span ng-show="sortType == 'last_modified' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'last_modified' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            </thead>
            <tbody>
            <tr class="cursor"
                ng-repeat="timelineEvent in timelineEvents | orderBy:sortType:sortReverse | filter:searchWord"
                ng-click="selectEvent(timelineEvent)">
                <td>{{getTitleByLang(timelineEvent,defaultLang)}}</td>
                <td>{{timelineEvent.moment | date : fullDate }}</td>
                <td>{{timelineEvent.created_at | date : fullDateTime }}</td>
                <td>{{timelineEvent.last_modified | date : fullDateTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="editTimelineEvent" class="col-sm-5">
        <div class="col-sm-12 edit-header">
            <h4 class="col-sm-6">Timeline event</h4>

            <div class="col-sm-3 col-sm-offset-3 text-right select_join">
                <select ng-model="usedLang" ng-change="changeLang(usedLang)"
                        ng-options="lang as lang for lang in languages">
                </select>
            </div>
        </div>
        <div class="col-sm-12 edit-body">
            <div class="edit-body-row">
                <div class="col-sm-3">Title:</div>
                <input type="text" class="form-control col-sm-12 text-left" ng-model="editTitle.text"
                       ng-change="editEventTitle(editTitle.text)">
                </input>
            </div>
            <div class="edit-body-row">
                <div class="col-sm-3">Description:</div>
        <textarea class="form-control col-sm-12 text-left" rows="3" ng-model="editDesc.text"
                  ng-change="editDescription(editDesc.text)">
        </textarea>
            </div>
            <div class="edit-body-row">
                <div class="col-sm-3">Happened:</div>
                <div class="col-md-12">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{fullDate}}"
                               ng-model="editTimelineEvent.moment" is-open="status.opened" show-weeks="false"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 edit-body-row">
                <div class="col-sm-3">Created:</div>
                <p class="col-sm-9">{{editTimelineEvent.created_at | date : fullDateTime}}</p>
            </div>
            <div class="col-sm-12 edit-body-row">
                <div class="col-sm-3">Modified:</div>
                <p class="col-sm-9">{{editTimelineEvent.last_modified | date : fullDateTime}}</p>
            </div>
            <div class="edit-body-row">
                <button ng-if="editTimelineEvent._id" class="btn btn-primary col-sm-3 text-right"
                        ng-click="deleteEvent()">Delete
                </button>
                <button class="btn btn-primary col-sm-3" ng-click="saveEvent()">Save</button>
            </div>
        </div>
    </div>
</div>