table {
  margin-right : 20px;
}
th {
  background-color : #30426a;
  color : #FFFFFF;
}
tr {
  background-color : #FFFFFF;
}

.btn, .btn-primary {
  background-color : #30426a;
  margin-right : 5px !important;
}
.edit-header {
  background-color : #30426a;
  color : #FFFFFF;
}

.edit-body {
  background-color : #FFFFFF;
}
.edit-body-row {
  padding-top:5px;
  padding-bottom:5px;
}

.blackhr {
  border-top: 2px solid black;
  width: 100%;
  float: left;
}

.box-wrapper{
  border : 1px solid black;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5% 5% 5% 5%;
}

.edit-room-wrapper {
  margin-bottom: 5px;
  margin-top: 5px;
}
.img-container {
  width : 100%;
  height : 150px;
}

.img-container img{
  max-height:100%;
  max-width: 100%;
}

.cursor {
  cursor: pointer;
}
.background {
  backgrounds: white !important;
}